<style type="text/css" >
.my-popup {
    display: none;
    position: absolute;
    overflow: hidden;
    height: 80%;
    width: 80%;
    border: var(--rz-panel-border);
    background-color: var(--rz-panel-background-color);
    box-shadow: var(--rz-panel-shadow);
    border-radius: var(--rz-border-radius)
}

</style >
